app:
  title: Backstage
  baseUrl: http://localhost:3000
organization:
  name: Acme Corp
backend:
  baseUrl: http://localhost:3000
  listen:
    port: 3000
  database:
    client: better-sqlite3
    connection: ':memory:'
auth:
  providers:
    guest:
      dangerouslyAllowOutsideDevelopment: true
catalog:
  import:
    entityFilename: catalog-info.yaml
  rules:
    - allow: [Component, System, API, Resource, Location, Domain, Group, User, Template]
  locations:
    - type: file
      target: /app/catalog/all.yaml
kubernetes:
  serviceLocatorMethod:
    type: multiTenant
  clusterLocatorMethods:
    - type: config
      clusters:
        - url: ${K8S_URL}
          name: kind-backstage
          authProvider: serviceAccount
          skipTLSVerify: true
          skipMetricsLookup: true
          serviceAccountToken: ${K8S_TOKEN}
